<aside>
    <nav>
        <div>
            <a href="/subjects/new" class="clickable">New Subject</a>
            <a href="/subjects" class="clickable">View Subjects</a>
        </div>
    </nav>
</aside>