<aside>
    <nav>
        <div>
            <a href="/subjects" class="clickable">Subjects</a>
            <a class="clickable">Classes</a>
            <a class="clickable">Students</a>
        </div>
    </nav>
</aside>