<aside>
    <nav>
        <div>
            <a href="/" class="clickable">Home</a>
            <a href="/subjects" class="clickable">Subjects</a>
            <a href="/lessons/new" class="clickable">Classes</a>
        </div>
    </nav>
</aside>