<h1><%= title %></h1>
<div class="dash-form">
    <h2> <%= values.name %></h2>
    <form class="lesson" method="POST">
        <p class="info">Fields marked with a <span aria-label="required">*</span> are required</p>
        <label for="name">Name <span aria-label="required">*</span> </label>
        <input type="text" id="name" name="name" value="<%= values.name %>">
        <span class="error"><%- include('partials/errors', {errorType:"name"}) %> </span>
        <div class="button-container">
            <button class="clickable dark" type="submit">Submit</button>
            <a class="clickable" href="./..">Cancel</a>
        </div>
    </form>
</div>