<div class="subjects-table">
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Textbook</th>
            </tr>
        </thead>
        <tbody>
            <% subjects.forEach(subject => { %>
                <tr onclick="window.location='/subjects/subject/<%= subject.subject_id%>'">
                    <td><%= subject.name %></td>
                    <td><%= subject.textbook %></td>
                </tr>
            <% }) %>
            <tr class="addnew" onclick="window.location='/subjects/new'">
                <td colspan="2">Add new...</td>
            </tr>
        </tbody>
    </table>
</div>