<div class="button-container">
    <a class="clickable" href="/user/new">Register</a>
    <a class="clickable" href="/user/login">Login</a>
    <a class="clickable" href="/subjects">Subjects</a>
</div>