@import url('https://fonts.googleapis.com/css2?family=Unna:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&display=swap');

.regular {
    font-family: "Unna", serif;
    font-weight: 400;
    font-style: normal;
}
  
.bold {
    font-family: "Unna", serif;
    font-weight: 700;
    font-style: normal;
}
  
.regular-italic {
    font-family: "Unna", serif;
    font-weight: 400;
    font-style: italic;
}
  
.bold-italic {
    font-family: "Unna", serif;
    font-weight: 700;
    font-style: italic;
}

h1.headline {
    font-family: "Bodoni Moda", serif;
    font-variation-settings: 'opsz' 32;
    font-weight: 400;
    font-style:normal;
}
  
:root {
    font-family: "Unna", serif;
    --dark: #353535;
    --accent: #3C6E71;
    --light: #FFFFFF;
    --hover: #f0f2f2;
    --light2: #A9A9A9;
    --dark-accent: #284B63;
    --error: #d46565;
}

html {
    padding: 0;
}

body {
    background-color: var(--light);
    background-image:
        linear-gradient(to right, var(--light2), transparent 1px),
        linear-gradient(to bottom, var(--light2), transparent 1px);
    background-size: 20px 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    margin:0;
    padding:0;
}

/* Header */

.masthead {
    border-right: solid 1px var(--light);
    border-bottom: solid 1px var(--accent);
    background-color: var(--accent);
    color: var(--light);
    padding: 1rem 0 0 1rem;
}

header {
    border-bottom: solid 1px var(--accent);
    background-color: var(--accent);
    margin: 0; 
    display: flex;
    justify-content: space-between;
}

header>h2 {
    color: var(--light);
    padding: 0 1rem;
    font-weight: 100;
    margin-bottom:0;
    line-height: 1.4;
}

header .clickable {
    margin: 0;
    padding: 1rem;
    box-shadow: none;
    border: 0;
    background-color: var(--accent);
    color: var(--light);
    border-radius: 0;
    border-left:dashed 1px var(--light);
}

header .clickable:hover {
    transform: none;
}

/* Sidebar */

aside {
    border-right: solid 1px var(--accent);
    padding: 1rem 0 1rem 1rem;
    color: var(--accent);
    display: flex;
    flex-direction: column;
}

aside .clickable {
    box-shadow: none;
    margin: 0;
    border-radius: 20px 0  0 20px;
    margin: -1px -1px 0 -1px;
}

aside .clickable:hover {
    transform: none;
}


/* Body */

.container {
    margin:  0;
    border: solid 1px  var(--accent);
    border-top: 0;
    border-bottom: 0;
    background-color: var(--light);
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    width: 100dvw;
    max-width: 1024px;
    min-width: fit-content;
    height: 100dvh;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: 52px 1fr;
}

h1{
    padding: 0 1rem 0 ;
    margin: 0;
    font-size: 2rem;
    width: fit-content;
    height: fit-content;
}

.content {
    padding: 1rem;
}

/* Buttons */ 

.dark.clickable {
    background-color: var(--accent);
    color: var(--light);
}

.dark.clickable:hover {
    filter:brightness(105%);
}

.dark.clickable:active {
    filter:brightness(115%);
}


.clickable {
    font-family: "Unna",serif;
    font-size: 1rem;
    border: 0; 
    background-color: var(--light);
    color:var(--accent);
    text-decoration: none;
    padding: 1rem;
    margin: 1rem;
    border-radius: 16px;
    display: block;
    border: solid 1px var(--accent);
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.clickable:hover {
    filter: brightness(95%);
    transform: translateY(2px);
}

.button-container {
    display: flex;
    justify-content: center;
    margin-top:1rem;
}

/* Forms */

.dash-form {
    padding: 1rem;
}

form {
    display: grid;
    grid-template-columns: 1fr 2fr;
    color: var(--accent);
    margin: 0;
}

form textarea {
    grid-column: 1 / 3 ;
    margin: 0 1rem;
    padding: 1rem;
}


form>label {
    text-align: right;
    margin: 0;
}

form input {
    margin: 0 1rem 0;
}

form select {
    margin: 0 1rem;
}


fieldset.name,
fieldset.period {
    display: flex;
    gap: 1rem;
    border: solid 1px var(--accent);
    border-radius: 8px;
    grid-column: 1 /3;
    margin: 0 1rem;
}

fieldset.period {
    margin-bottom: 2rem;
}

fieldset>span {
    flex: 1;
    margin-bottom: 1rem;
    display:flex;
    flex-direction: column;
}

fieldset>span input {
    margin: 0;
}

form span.error,
.info {
    text-align: right;
    color: var(--error);
    font-size: smaller;
    height: 16px;
}

form span.error {
    margin: 8px 0;
}

form>label {
    padding: 0.66rem 0;
}

input {
    border-radius: 0;
    color: var(--dark);
    border: solid 1px var(--accent);
    padding: 0.67em;
}

form .button-container,
form .info,
form .error {
    grid-column: 1 / 3;
    margin: 0;
}

/* Tables */


table {
    border-radius: 16px 16px 0 0;
    width: 100%;
    font-family: "Unna", serif;
    border-spacing: 0;
    border-collapse: separate;
    overflow: hidden;
}

tr:hover {
    background-color: var(--hover);
}

td,
th {
    padding: 1rem;
    border-bottom: solid 1px var(--light2);
}

thead th {
    border: solid 1px var(--accent);
    font-weight: 400;
    background-color: var(--accent);
    color: var(--light);
    border:0;
    text-align: left;
}

/* Subject */

.subject {
    padding: 1rem;
    border-radius: 10px;
    border: solid 1px var(--accent);
}

.subject>h2 {
    border-bottom: solid 1px var(--accent);
    color: var(--accent);
    font-size: 3rem;
    margin-top:0;
}

.addnew {
    color: var(--accent);
    text-align: center;
}

/* Footer */

footer {
    position: absolute;
    bottom: 0; 
    width: 100vw;
    background-color: var(--light);
    border-top: solid 1px var(--accent);
    text-align: center;
    color: var(--accent);
}

@media only screen and (max-width: 576px) {

}

